{% liquid
  assign closest_product = closest.product | default: product
  assign product_card_product = all_products[closest_product.handle]

  if product_card_product == empty
    assign is_product_card_product_falsey = true
  else
    assign is_product_card_product_falsey = false
  endif
%}

<div
  class="
    product-card
    {% if block.settings.inherit_color_scheme == false %}
      color-{{ block.settings.color_scheme }}
    {% endif %}
  "
  style="
    --product-card-gap: {{ block.settings.product_card_gap }}px;
    {% render 'border-override', border: block.settings.border, width: block.settings.border_width, opacity: block.settings.border_opacity, radius: block.settings.border_radius %}
    {% render 'spacing-padding', settings: block.settings %}
  "
  {{ block.shopify_attributes }}
>
  <div
    class="product-card__content"
    data-product-handle="{{- product_card_product.handle -}}"
    data-product-url="{{- product_card_product.url -}}"
    data-product-title="{{- product_card_product.title | escape -}}"
    data-product-first-variant-id="{{- product_card_product.first_available_variant.id -}}"
    data-product-is-product-card-product-falsey="{{- is_product_card_product_falsey -}}"
  >
    {%- content_for 'blocks' -%}
  </div>
</div>

{% schema %}
{
  "name": "t:names.product_card",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "quick-view-button"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "product_card_gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_section_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.border",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "full",
          "label": "t:options.full"
        },
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "t:settings.width",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "px",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "label": "t:settings.opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.corner_radius",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}